.contact {
  ::selection {
    background-color: $theme-color-8;
  }
  ::-moz-selection {
    background-color: $theme-color-8;
  }
  color: #fff;
  &.contact {
    background-color: $theme-color-5;
  }
  &__inner {
    margin-left: auto;
    margin-right: auto;
    padding-left: $gutter;
    padding-right: $gutter;
    @include breakpoints-min(sm) {
      padding-left: $gutter * 3;
      padding-right: $gutter * 3;
    }
    @include breakpoints-min(lg) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: #{$gutter * 58};
      padding-left: 0;
      padding-right: 0;
    }
    @include breakpoints-min(xxl) {
      max-width: #{$gutter * 60};
    }
  }
  &__body {
    margin-bottom: $gutter * 3;
    @include breakpoints-min(md) {
      text-align: center;
      margin-right: $gutter * 4;
    }
    @include breakpoints-min(lg) {
      width: calc(100% - #{$gutter * 4 + $gutter * 26});
      text-align: left;
    }
  }
  &__title {
    font-size: 27px;
    font-weight: 300;
    text-align: center;
    margin-bottom: $gutter * 2;
    @include breakpoints-min(md) {
      font-weight: 200;
    }
    @include breakpoints-min(lg) {
      text-align: left;
    }
  }
  &__text {
    p {
      margin-bottom: $gutter * 1.5;
    }
  }
}
