.form {
  border-radius: 7px;
  background-color: #fff;
  width: $gutter * 26;
  color: $color;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: #{$gutter * 2} #{$gutter * 2} #{$gutter * 2.25};
  div {
    margin-bottom: $gutter;
  }
  label {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    color: $theme-color-5;
  }
  input,
  textarea {
    display: block;
    appearance: none;
    border-radius: 3px;
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: $oc-gray-3;
    width: 100%;
    padding: #{$gutter * 0.5} #{$gutter * 0.875};
  }
  textarea {
    resize: none;
    height: 7em;
  }
  input[type="submit"] {
    cursor: pointer;
    display: block;
    appearance: none;
    transition: 0.3s;
    outline: none;
    border-radius: 999px;
    border: none;
    background-color: $theme-color-5;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: #fff;
    width: 100%;
    margin-top: $gutter * 1.75;
    padding: #{$gutter * 1} 0;
    &:active {
    }
    @include breakpoints-min(md) {
      &:hover {
        background-color: $theme-color-6;
      }
      &:active {
        background-color: $theme-color-7;
      }
    }
  }

  .ajax-loader {
    display: none !important;
  }
}

//$oc-gray-4
