.demo-profile {
  position: relative;
  &__inner {
    overflow: hidden;
    border-radius: 7px;
    background-color: #fff;
    text-align: center;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: $gutter * 1.5;
    @include breakpoints-min(md) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 300px;
    }
  }
  &__img-outer {
    position: relative;
    background: url(../img/private/demo/bg.jpg) center top;
    background-size: cover;
    height: 160px;
  }
  &__img {
    position: absolute;
    top: 108px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    border-radius: 50%;
    background-color: #fff;
    width: 96px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $gutter * 1.175;
    padding: 4px;
  }
  &__name {
    margin-top: 46px;
    font-size: 18px;
    text-align: center;
    color: $oc-gray-8;
    width: 100%;
    margin-bottom: $gutter * 1;
    @include breakpoints-min(md) {
      margin-bottom: $gutter * 1;
    }
    .ruby {
      display: block;
      font-size: 11px;
      color: $oc-gray-6;
      margin-top: -6px;
    }
  }
  .sns {
    margin-top: 12px;
    @include breakpoints-min(sm) {
      justify-content: center;
      margin-top: 12px;
    }
    &__item {
      width: 34px;
      @include breakpoints-min(md) {
        width: 34px;
        margin-right: $gutter * 0.5;
      }
    }
    &__link {
      width: 34px;
      height: 34px;
    }
    &__img {
      width: 14px;
      @include breakpoints-min(md) {
        width: 14px;
      }
      &.tumblr {
        width: 9px;
      }
    }
  }
}
