.upload_form {
  display: none;
}
.mediauploader_slect,
.mediauploader_clear {
  display: inline-block;
  color: #0073aa;
  text-decoration: underline;
  margin-top: 1em;
  margin-bottom: 1em;
  &:hover {
    color: #00a0d2;
  }
}
tr.it_favicon {
  .attachment-full {
    width: 180px;
    height: auto;
  }
}
tr.it_eyecatch {
  .attachment-full {
    width: auto;
    height: 150px;
  }
}
tr.it_banner {
  .attachment-full {
    width: 468px;
    height: 100px;
  }
}
tr.it_user_icon {
  .attachment-full {
    width: 180px;
    height: auto;
  }
}
