@import "vendor/open-color";
@import "variables";

@import "mixins/breakpoints";
@import "mixins/clearfix";
@import "mixins/hover";

.demo {
  background-color: $oc-gray-8;
  color: #fff;
  padding-top: $gutter * 5;
  padding-bottom: $gutter * 5;
  padding-left: $gutter;
  padding-right: $gutter;
  @include breakpoints-min(lg) {
    padding-top: $gutter * 6;
    padding-bottom: $gutter * 6;
  }
  &__inner {
    @include breakpoints-min(md) {
      display: flex;
      flex-wrap: wrap;
      max-width: #{$gutter * 50};
      margin-left: auto;
      margin-right: auto;
    }
    @include breakpoints-min(lg) {
      max-width: #{$gutter * 56};
    }
    @include breakpoints-min(xxl) {
      max-width: #{$gutter * 62};
    }
  }
  &__body {
    margin-bottom: $gutter * 3;
    @include breakpoints-min(sm) {
      text-align: center;
    }
    @include breakpoints-min(md) {
      text-align: left;
      width: calc(100% - #{300px + $gutter * 3});
      margin-right: $gutter * 3;
    }
    @include breakpoints-min(md) {
      width: calc(100% - #{300px + $gutter * 4});
      margin-right: $gutter * 4;
    }
    p {
      margin-bottom: $gutter * 1.5;
      a {
        color: $oc-cyan-4;
      }
    }
  }
  &__title {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    text-align: center;
    margin-bottom: $gutter * 2;
    @include breakpoints-min(md) {
      text-align: left;
    }
  }
  &__button {
    display: none;
    position: relative;
    z-index: 1;
    transition: 0.3s;
    border-radius: 999px;
    background-color: $oc-cyan-5;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    margin-top: $gutter * 3;
    padding: $gutter #{$gutter * 2.25};
    @include breakpoints-min(md) {
      display: inline-block;
      &:hover {
        background-color: $oc-cyan-7;
      }
      &:active {
        background-color: $oc-cyan-8;
      }
    }
  }
}


.demo-profile {
  position: relative;
  &__inner {
    overflow: hidden;
    border-radius: 7px;
    background-color: #fff;
    text-align: center;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: $gutter * 1.5;
    @include breakpoints-min(md) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 300px;
    }
  }
  &__img-outer {
    position: relative;
    background: url(../img/private/demo/bg.jpg) center top;
    background-size: cover;
    height: 160px;
  }
  &__img {
    position: absolute;
    top: 108px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    border-radius: 50%;
    background-color: #fff;
    width: 96px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $gutter * 1.175;
    padding: 4px;
  }
  &__name {
    margin-top: 46px;
    font-size: 18px;
    text-align: center;
    color: $oc-gray-8;
    width: 100%;
    margin-bottom: $gutter * 1;
    @include breakpoints-min(md) {
      margin-bottom: $gutter * 1;
    }
    .ruby {
      display: block;
      font-size: 11px;
      color: $oc-gray-6;
      margin-top: -6px;
    }
  }
  .sns {
    margin-top: 12px;
    @include breakpoints-min(sm) {
      justify-content: center;
      margin-top: 12px;
    }
    &__item {
      width: 34px;
      @include breakpoints-min(md) {
        width: 34px;
        margin-right: $gutter * 0.5;
      }
    }
    &__link {
      width: 34px;
      height: 34px;
    }
    &__img {
      width: 14px;
      @include breakpoints-min(md) {
        width: 14px;
      }
      &.tumblr {
        width: 9px;
      }
    }
  }
}
