@import "vendor/open-color";
$theme-color-0: $oc-cyan-0;
$theme-color-1: $oc-cyan-1;
$theme-color-2: $oc-cyan-2;
$theme-color-3: $oc-cyan-3;
$theme-color-4: $oc-cyan-4;
$theme-color-5: $oc-cyan-5;
$theme-color-6: $oc-cyan-6;
$theme-color-7: $oc-cyan-7;
$theme-color-8: $oc-cyan-8;
$theme-color-9: $oc-cyan-9;
@import "variables";
@import "mixins/breakpoints";
@import "mixins/clearfix";
@import "mixins/hover";
@import "vendor/minireset";
@import "module/reboot";


body {
  overflow-x: hidden;
}

.header {
  position: relative;
  background-color: $oc-cyan-4;
  font-size: 34px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  padding-top: $gutter * 1.5;
  padding-bottom: $gutter * 1.5;
  &__title {
    font-weight: 100;
  }
}
.nav {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  text-align: left;
  padding: #{$gutter * 0.5} $gutter;
  &__list {
  }
  &__item {
  }
  &__link {
    color: $oc-cyan-0;
    text-decoration: none;
    @include breakpoints-min(md) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.footer {
  background-color: $oc-gray-8;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: $oc-gray-5;
  padding-top: $gutter * 4.5;
  padding-bottom: $gutter * 4.5;
  a {
    color: #fff;
    text-decoration: none;
    @include breakpoints-min(md) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}


.article {
  position: relative;
  background-color: #fff;
  &__inner {
    position: relative;
    padding-left: $gutter;
    padding-right: $gutter;
    @include breakpoints-min(md) {
      max-width: #{$gutter * 50};
      margin-left: auto;
      margin-right: auto;
    }
    @include breakpoints-min(lg) {
      max-width: #{$gutter * 56};
    }
    @include breakpoints-min(xxl) {
      max-width: #{$gutter * 62};
    }
  }
}


.info {
  padding-top: $gutter * 5;
  padding-bottom: $gutter * 6.5;
  &__body {
    @include breakpoints-min(lg) {
      width: #{$gutter * 30};
      padding-top: $gutter * 3.5;
    }
  }
  .browser {
    width: 100%;
    @include breakpoints-min(lg) {
      width: 550px;
      position: absolute;
      left: $gutter * 33;
    }
    @include breakpoints-min(xl) {
      width: 700px;
    }
  }
  .offer {
    color: $oc-gray-7;
    font-size: 13px;
    margin-top: $gutter * 1.5;
  }
  .heading--2 {
    margin-bottom: $gutter * 3;
    @include breakpoints-min(lg) {
      text-align: left;
    }
  }
  .btn {
    display: inline-block;
    border-radius: 999px;
    background-color: $oc-cyan-4;
    font-size: 18px;
    font-weight: 100;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #fff;
    margin-top: $gutter * 3.5;
    padding: #{$gutter * 0.75} #{$gutter * 2.5};
  }
  p {
    color: #686f77;
    margin-top: $gutter * 1.5;
    &:last-of-type {
    }
  }
}

.feature {
  background-color: $oc-gray-1;
  padding-top: $gutter * 6;
  padding-bottom: $gutter * 6;
  &__list {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + #{$gutter * 2});
    margin-left: - $gutter;
    margin-right: - $gutter;
    @include breakpoints-min(sm) {
      width: calc(100% + #{$gutter * 4});
      margin-left: - $gutter * 2;
      margin-right: - $gutter * 2;
    }
  }
  &__item {
    padding: $gutter;
    width: 100%;
    @include breakpoints-min(sm) {
      padding: $gutter #{$gutter * 2};
      width: #{100% / 2};
    }
    @include breakpoints-min(lg) {
      width: #{100% / 3};
    }
  }
  &__icon-outer {
    display: block;
    position: relative;
    border-radius: 50%;
    background-color: #fff;
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $gutter * 0.875;
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 32px;
  }
  &__body {
    font-size: 13px;
    text-align: center;
    line-height: 1.7;
    color: $oc-gray-6;
  }
  &__title {
    font-size: 15px;
    font-weight: 500;
    color: #23c3db;
    margin-bottom: $gutter * 0.5;
  }
}
.download {
  overflow: hidden;
  position: relative;
  text-align: center;
  height: 256px;
  padding: 0;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../img/private/landing/landing-bg.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .btn {
    display: inline-block;
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 0 10px 10px rgba($oc-cyan-9, 0.6);
    background-color: #fff;
    border-radius: 999px;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.1em;
    color: $oc-cyan-5;
    margin-top: 128px;
    transform: translateY(-50%);
    padding: #{$gutter * 1} #{$gutter * 3};
    &:active {
      box-shadow: 0 6px 8px rgba($oc-cyan-9, 0.7);
    }
    @include breakpoints-min(md) {
      &:hover {
        box-shadow: 0 13px 15px rgba($oc-cyan-9, 0.5);
      }
      &:active {
        box-shadow: 0 6px 8px rgba($oc-cyan-9, 0.7);
      }
    }
  }
}
.sns {
  $element: &;
  $sns-item-size: $gutter * 3;
  $sns-item-size-md: $gutter * 3.5;
  padding-top: $gutter * 5;
  padding-bottom: $gutter * 4.5;
  &__list {
    text-align: center;
  }
  &__item {
    display: inline-block;
    margin-left: $gutter * 0.5;
    margin-right: $gutter * 0.5;
  }
  &__link {
    display: block;
    order: 1;
    position: relative;
    z-index: 1;
    transition: 0.1s;
    border-radius: 50%;
    border: 1px solid $oc-gray-3;
    background-color: #fff;
    width: $sns-item-size;
    height: $sns-item-size;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    &:active {
      #{$element}__tooltip {
        pointer-events: auto;
        top: - $gutter * 3.125;
        opacity: 1;
      }
    }
    @include breakpoints-min(md) {
      width: $sns-item-size-md;
      height: $sns-item-size-md;
      &::before,
      &::after {
        content: "";
        box-sizing: content-box;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: 0.4s;
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
      &::before {
        background-color: $theme-color-2;
      }
      &::after {
        background-color: #fff;
      }
      &:hover {
        &::before {
          border: 1px solid $theme-color-2;
          width: calc(100% + 10px);
          height: calc(100% + 10px);
        }
        #{$element}__tooltip {
          pointer-events: auto;
          top: - $gutter * 3.125;
          opacity: 1;
        }
      }
    }
  }
  &__img {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    width: $gutter * 1.25;
    @include breakpoints-min(md) {
      width: $gutter * 1.25;
    }
    &.twitter {}
    &.facebook {
      width: 10px;
      @include breakpoints-min(md) {
        width: 11px;
        margin-left: -1px;
      }
    }
  }
  &__tooltip {
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: - $gutter * 2.25;
    transform: translateX(-50%);
    transition: 0.4s;
    opacity: 0;
    border-radius: 5px;
    background-color: $oc-gray-9;
    font-size: 14px;
    letter-spacing: 0.0125em;
    white-space: nowrap;
    color: #fff;
    padding: #{$gutter * 0.375} #{$gutter * 0.875};
    &::before{
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      border: 6px solid transparent;
      border-top: 6px solid $oc-gray-9;
      margin-left: -6px;
    }
  }
}

.browser {
  overflow: hidden;
  box-shadow: 0 6px 12px rgba($oc-gray-9, 0.08), 0 18px 20px rgba($oc-gray-9, 0.15);
  border-radius: 5px;
  margin-bottom: $gutter * 2;
  &__header {
    background-color: #f0f0f0;
    line-height: 0;
    padding: 12px 8px;
  }
  span {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid;
    width: 12px;
    height: 12px;
    margin-left: 4px;
    margin-right: 4px;
    &:nth-of-type(1) {
      border-color: #e13a32;
      background-color: #ff5f57;
    }
    &:nth-of-type(2) {
      border-color: #e09c06;
      background-color: #ffbd2e;
    }
    &:nth-of-type(3) {
      border-color: #02a91a;
      background-color: #28ca41;
    }
  }
  &__img-outer {
    position: relative;
    overflow: hidden;
    height: 312px;
    @include breakpoints-min(md) {
      height: 512px;
    }
    @include breakpoints-min(lg) {
      height: 1123px;
    }
    @include breakpoints-min(xl) {
      height: 1430px;
    }
  }
  &__img {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    transform: translate3d(0,0,0);
    @include breakpoints-min(lg) {
      //animation: scroll 80s linear 5s forwards;
    }
  }
}
@keyframes scroll {
    0% { top: 0; }
   10% { top: 0; }
   40% { top: -1657px; }
   60% { top: -1657px; }
   90% { top: 0; }
  100% { top: 0; }
}

.heading {
  &--2 {
    font-size: 28px;
    font-weight: 100;
    text-align: center;
    line-height: 1.4;
    color: $oc-gray-9;
    margin-bottom: $gutter * 2;
  }
}
