@import "vendor/open-color";
$theme-color-0: $oc-cyan-0;
$theme-color-1: $oc-cyan-1;
$theme-color-2: $oc-cyan-2;
$theme-color-3: $oc-cyan-3;
$theme-color-4: $oc-cyan-4;
$theme-color-5: $oc-cyan-5;
$theme-color-6: $oc-cyan-6;
$theme-color-7: $oc-cyan-7;
$theme-color-8: $oc-cyan-8;
$theme-color-9: $oc-cyan-9;
@import "variables";
@import "mixins/breakpoints";
@import "mixins/clearfix";
@import "mixins/hover";
@import "vendor/minireset";
@import "module/reboot";

@import "landing/reboot.scss";
@import "landing/header.scss";
@import "landing/nav.scss";
@import "landing/footer.scss";
@import "landing/info.scss";
@import "landing/browser.scss";
@import "landing/feature.scss";
@import "landing/download.scss";
@import "landing/sns.scss";
@import "landing/heading.scss";
