@import "vendor/open-color";

$theme-color-0: $oc-orange-0;
$theme-color-1: $oc-orange-1;
$theme-color-2: $oc-orange-2;
$theme-color-3: $oc-orange-3;
$theme-color-4: $oc-orange-4;
$theme-color-5: $oc-orange-5;
$theme-color-6: $oc-orange-6;
$theme-color-7: $oc-orange-7;
$theme-color-8: $oc-orange-8;
$theme-color-9: $oc-orange-9;

@import "base-style";
