@import "vendor/open-color";

$theme-color-0: $oc-indigo-0;
$theme-color-1: $oc-indigo-1;
$theme-color-2: $oc-indigo-2;
$theme-color-3: $oc-indigo-3;
$theme-color-4: $oc-indigo-4;
$theme-color-5: $oc-indigo-5;
$theme-color-6: $oc-indigo-6;
$theme-color-7: $oc-indigo-7;
$theme-color-8: $oc-indigo-8;
$theme-color-9: $oc-indigo-9;

@import "base-style";
