@import "vendor/open-color";

$theme-color-0: $oc-lime-0;
$theme-color-1: $oc-lime-1;
$theme-color-2: $oc-lime-2;
$theme-color-3: $oc-lime-3;
$theme-color-4: $oc-lime-4;
$theme-color-5: $oc-lime-5;
$theme-color-6: $oc-lime-6;
$theme-color-7: $oc-lime-7;
$theme-color-8: $oc-lime-8;
$theme-color-9: $oc-lime-9;

@import "base-style";
