@import "vendor/open-color";

$theme-color-0: $oc-blue-0;
$theme-color-1: $oc-blue-1;
$theme-color-2: $oc-blue-2;
$theme-color-3: $oc-blue-3;
$theme-color-4: $oc-blue-4;
$theme-color-5: $oc-blue-5;
$theme-color-6: $oc-blue-6;
$theme-color-7: $oc-blue-7;
$theme-color-8: $oc-blue-8;
$theme-color-9: $oc-blue-9;

@import "base-style";
