@import "vendor/open-color";

$theme-color-0: $oc-green-0;
$theme-color-1: $oc-green-1;
$theme-color-2: $oc-green-2;
$theme-color-3: $oc-green-3;
$theme-color-4: $oc-green-4;
$theme-color-5: $oc-green-5;
$theme-color-6: $oc-green-6;
$theme-color-7: $oc-green-7;
$theme-color-8: $oc-green-8;
$theme-color-9: $oc-green-9;

@import "base-style";
